@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Slackey&display=swap');



[data-bs-theme="arcade"] {
    --bs-body-bg: rgb(250, 239, 214) !important;
    --bs-body-bg-rgb: 250, 239, 214 !important;

    --bs-secondary-bg: rgb(40, 204, 209) !important;
    --bs-secondary-bg-rgb: 40, 204, 209 !important;

    --bs-tertiary-bg: rgb(250, 239, 214) !important;
    --bs-tertiary-bg-rgb: 250, 239, 214 !important;

    --bs-dark-bg-subtle: rgb(250, 239, 214) !important;
    --streak-color-rgb: 216, 165, 45 !important;

    --bs-body-color: rgb(255, 140, 55) !important;
    --body-font: Slackey; /*signature arcade font*/
}
